body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f9f9f9;
}
header {
  background-color: #8b0000;
  color: white;
  padding: 20px;
  text-align: center;
}
nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}
main {
  padding: 20px;
}
.image-row img {
  width: 180px;
  margin: 10px;
  border-radius: 8px;
}
.text-content p {
  margin: 10px 0;
}
ul {
  margin-top: 15px;
}
ul li {
  margin-bottom: 5px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.card {
  background: white;
  border: 1px solid #ccc;
  padding: 15px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}
.card img {
  width: 100%;
  border-radius: 6px;
}
form {
  max-width: 400px;
  margin: auto;
  background: rgb(87, 157, 16);
  padding: 20px;
  border-radius: 10px;
}
input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}
button {
  background-color: #8b0000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
}
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
